﻿@using PPTIIS
@{
    ViewBag.Title = "Home Page";
}

@{

    List<Worker> workers = new List<Worker>();
    workers.Add(new WorkerPerHour(1, "Sasha", "Lebedynets", 20.0));
    workers.Add(new WorkerPerHour(2, "Igor", "Lebedynets", 35.0));
    workers.Add(new WorkerPerHour(3, "Eugene", "Lebedynets", 40.0));
    workers.Add(new WorkerPerHour(4, "Denis", "Lebedynets", 56.0));
    workers.Add(new WorkerPerHour(5, "Maks", "Lebedynets", 30.0));
    workers.Add(new WorkerFixedRate(6, "Nadya", "Lebedynets", 78321.0));
    workers.Add(new WorkerFixedRate(7, "Eliza", "Lebedynets", 7895.0));
    workers.Add(new WorkerFixedRate(8, "Elviya", "Lebedynets", 2950.0));
    workers.Add(new WorkerFixedRate(9, "Elvira", "Lebedynets", 5560.0));
    workers.Add(new WorkerFixedRate(10, "Sasha", "Lebedynets", 5000.0));

    <table class="table">
        <thead>
            <tr>
                <th>WorkerId</th>
                <th>FName</th>
                <th>LName</th>
                <th>AverageSalary</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var worker in workers)
                {

                    <tr>
                        <td>@worker.WorkerId</td>
                        <td>@worker.FName</td>
                        <td>@worker.LName</td>
                        <td>@worker.AverageSalary</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <th />

                IEnumerable<Worker> query = workers.OrderBy(worker => worker.AverageSalary).Take(5);
                query.ToArray();

                <table class="table">
                    <thead>
                        <tr>
                            <th>WorkerId</th>
                            <th>FName</th>
                            <th>LName</th>
                            <th>AverageSalary</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            foreach (var worker in query)
                            {

                                <tr>
                                    <td>@worker.WorkerId</td>
                                    <td>@worker.FName</td>
                                    <td>@worker.LName</td>
                                    <td>@worker.AverageSalary</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                            List<string> list = new List<string>();
                            foreach (var worker in query)
                            {
                                list.Add(worker.WorkerId + " - " + worker.FName + " " + worker.LName + " : " + worker.AverageSalary);
                            }

                            using (System.IO.StreamWriter file =
                                new System.IO.StreamWriter(@"D:\text.txt"))
                            {
                                foreach (string line in list)
                                {
                                    file.WriteLine(line);
                                }
                            }

                            string[] lines = System.IO.File.ReadAllLines(@"D:\text.txt");
}